<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mispro.Mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO  user(username,password)  VALUES(#{username},#{password})
    </insert>
    <update id="updateUser">
        UPDATE user
        <set>
            <if test="username != null and !username.equals(&quot;&quot;)">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        <where>
            <if test="uid != null">
                uid = #{uid}
            </if>
            <if test="uid == null">
                uid = 1
            </if>
        </where>
    </update>
    <select id="getUserById" resultType="com.example.mispro.Pojo.User">
        SELECT * FROM USER WHERE uid=#{uid}
    </select>
    <select id="getUserByName" resultType="com.example.mispro.Pojo.User">
        SELECT * FROM USER WHERE username = #{userName}
    </select>
</mapper>