<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MagicWord</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MagicWord</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">MagicWord</a></li>
                <li><a href="#">打印</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        在线测试
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">用前须知</a></li>
                        <li><a href="#">使用手册</a></li>
                    </ul>
                </li>
                <li><a th:if="${session.user == null}" th:href="@{/login}">登录</a></li>
                <li><a th:if="${session.user == null}"  th:href="@{/register}">注册</a></li>
                <li><a class="btn-info" th:href="@{/myHome}" th:if="${session.user != null}" th:text="${session.user.getUsername()}"></a></li>
                <li><a class="btn-info" th:if="${session.user != null}" th:href="@{/logout}">注销</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-6 ">
        <div style="color: darkblue"> <a th:href="@{/print}">我要打印</a></div>
    </div>
    <div class="col-md-6">
        <div style="color: darkslategrey"><a th:href="@{/test}">在线测试</a> </div>
    </div>
</div>
<div><button id="quickStar">使用说明</button></div>
</body>
</html>