<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
		<script src="./jQuery/js/jquery.min.js"></script>
		<script src="./bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="./css/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1, user-scalable=no">
		<title>下载成功</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">智慧校园<small>下载成功</small></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item"><a th:href="@{/}" class="nav-link">返回主页</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="page">
			<div class="container">
				<center>
					<div class="alert alert-success">
						<strong>下载成功！！！</strong>请点击返回
					</div>
					<br>
					<a class="btn btn-success" th:href="@{/}">返回主页</a>
				</center>
			</div>

		</div>
		<div class="footer">
			<hr>
			<div class="container">
				SmartCampus 智慧校园
				<br>
				<a href="http://beian.miit.gov.cn/" target="_blank" style="color:white;">鲁ICP备2020044210号</a>
				&nbsp;@YOSHIO & @GawrXinuo
				<br>
				<br>
			</div>
		</div>
	</body>
</html>
