<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.js"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <caption>用户信息</caption>
        <thead>
        <tr>
            <th>科目</th>
            <th>总数</th>
            <th>正确数</th>
            <th>正确率</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info: ${session.infos}">
            <td class="sub" th:text="${session.subject.get(info.getSid())}">1</td>
            <td class="total" th:text="${info.getCount()}">Bangalore</td>
            <td class="correct" th:text="${info.getCorrect()}">3</td>
            <td class="single" th:text="${info.getRatio()}">4</td>
        </tr>
        </tbody>
    </table>
    <div class="col-md-12" id="main" style="width: 800px;height:600px;"></div>

    <script type="text/javascript">
        // import * as echarts from 'echarts';

        var app = {};

        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;
        const posList = [
            'left',
            'right',
            'top',
            'bottom',
            'inside',
            'insideTop',
            'insideLeft',
            'insideRight',
            'insideBottom',
            'insideTopLeft',
            'insideTopRight',
            'insideBottomLeft',
            'insideBottomRight'
        ];
        app.configParameters = {
            rotate: {
                min: -90,
                max: 90
            },
            align: {
                options: {
                    left: 'left',
                    center: 'center',
                    right: 'right'
                }
            },
            verticalAlign: {
                options: {
                    top: 'top',
                    middle: 'middle',
                    bottom: 'bottom'
                }
            },
            position: {
                options: posList.reduce(function (map, pos) {
                    map[pos] = pos;
                    return map;
                }, {})
            },
            distance: {
                min: 0,
                max: 100
            }
        };
        app.config = {
            rotate: 90,
            align: 'left',
            verticalAlign: 'middle',
            position: 'insideBottom',
            distance: 15,
            onChange: function () {
                const labelOption = {
                    rotate: app.config.rotate,
                    align: app.config.align,
                    verticalAlign: app.config.verticalAlign,
                    position: app.config.position,
                    distance: app.config.distance
                };
                myChart.setOption({
                    series: [
                        {
                            label: labelOption
                        },
                        {
                            label: labelOption
                        },
                        {
                            label: labelOption
                        },
                        {
                            label: labelOption
                        }
                    ]
                });
            }
        };
        const labelOption = {
            show: true,
            position: app.config.position,
            distance: app.config.distance,
            align: app.config.align,
            verticalAlign: app.config.verticalAlign,
            rotate: app.config.rotate,
            formatter: '{c}  {name|{a}}',
            fontSize: 16,
            rich: {
                name: {}
            }
        };
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['总数', '正确数']
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar', 'stack'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: { show: false },
                    data:(function(){
            var arr=[];
            $.ajax({
                type : "post",
                async : false, //同步执行
                url : "/word/xAxis",
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    if (result) {
                        for(var i=0;i<result.length;i++){
                            console.log(result[i]);
                            arr.push(result[i]);
                        }
                    }

                },
                error : function(errorMsg) {
                    alert("不好意思，图表请求数据失败啦!");
                    myChart.hideLoading();
                }
            })
            return arr;
        })() ,
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '总数',
                    type: 'bar',
                    barGap: 0,
                    label: labelOption,
                    emphasis: {
                        focus: 'series'
                    },
                    data: (function(){
                        var arr=[];
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "/word/total/",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                                if (result) {
                                    for(var i=0;i<result.length;i++){
                                        console.log(result[i]);
                                        arr.push(result[i]);
                                    }
                                }

                            },
                            error : function(errorMsg) {
                                alert("不好意思,图表请求数据失败啦!");
                                myChart.hideLoading();
                            }
                        })
                        return arr;
                    })()
                },
                {
                    name: '正确数',
                    type: 'bar',
                    label: labelOption,
                    emphasis: {
                        focus: 'series'
                    },
                    data: (function(){
                        var arr=[];
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "/word/correct/",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                                if (result) {
                                    for(var i=0;i<result.length;i++){
                                        console.log(result[i]);
                                        arr.push(result[i]);
                                    }
                                }

                            },
                            error : function(errorMsg) {
                                alert("不好意思,图表请求数据失败啦!");
                                myChart.hideLoading();
                            }
                        })
                        return arr;
                    })()
                },
            ]
        };

        option && myChart.setOption(option);

    </script>
</div>
</body>
</html>